footer{
  width: 100%;
  font-size: 12px;
  text-align: center;
  background-color:#030416;
  padding: 1rem 0;
  position: absolute;
  margin: 0;
  bottom: 0;
}
.footer-message{
  font-size:0.9rem;
  color:#a8a7a7;
  margin-bottom:0.3rem;
  margin:0 0 0 0.6rem;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  text-align: center;
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
  color: rgb(230, 230, 230);
}

.background {
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}